# Midnight Preprod Contract Address
# You can set this in Vercel to override the local storage fallback.
VITE_CONTRACT_ADDRESS=d13aabcf0599f9453f42637207303fb22ea0ed1f1bc8d34b56fe0f338da3287e

# Application specific thresholds
VITE_MIN_GPA_THRESHOLD=800
VITE_MAX_INCOME_THRESHOLD=250000
