# Copy this to .env.preview and fill in ONLY ONE of the following for a wallet you will
# fund via the Preview faucet (https://midnight-tmnight-preview.nethermind.dev/)
# This wallet MUST also have DUST, which you can delegate in 1AM or Lace Carbon(coming soon)

# Set only one, delete the other
MIDNIGHT_PREVIEW_MNEMONIC=replace-with-24-word-mnemonic
MIDNIGHT_PREVIEW_SEED=replace-with-a-64-char-hex-seed